<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        .center {  margin: auto;  width: 50%;  border: 3px solid green;  padding: 10px;}


    </style>
</head>
<body>
<!--    <form  th:action="@{/j_spring_security_check}" method='POST'>-->
<!--        <h3 >Đăng nhập</h3>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>Tên tài khoản *</td>-->
<!--                <td><input name="username" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Mật khẩu *</td>-->
<!--                <td><input type="password" name="password" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>&nbsp;</td>-->
<!--                <td>-->
<!--                    <input type="submit" value="Đăng nhập" />-->
<!--                    <input type="reset"  value="Reset" />-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
    <div  th:replace="~{layout/menu::menu}"></div>

    <div class="container-xl" >


                <form th:action="@{/j_spring_security_check}" method='POST'>
                    <div class="center">
                    <div  class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Email : </label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="username">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div>
                    <div  class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Mật Khẩu : </label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password" >
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    </div>
                </form>

    </div>
</body>
</html>